node-red-flow.json
[{"id":"2abd751f.509ec2","type":"subflow","name":"Puffer (2)","info":"","category":"","in":[{"x":460,"y":440,"wires":[{"id":"a0da2ac.9c20dd8"}]}],"out":[{"x":1320,"y":440,"wires":[{"id":"a0da2ac.9c20dd8","port":0}]},{"x":1300,"y":540,"wires":[{"id":"e1eeeb50.82bb78","port":0}]},{"x":1300,"y":580,"wires":[{"id":"2cfa16e9.ff93a2","port":0}]},{"x":1300,"y":620,"wires":[{"id":"839a826c.6a1c9","port":0}]},{"x":1300,"y":660,"wires":[{"id":"e7fcee95.e592a8","port":0}]}],"env":[{"name":"Sensor1","type":"str","value":""},{"name":"Sensor2","type":"str","value":""},{"name":"Sensor3","type":"str","value":""},{"name":"Sensor4","type":"str","value":""},{"name":"load_topic","type":"str","value":""},{"name":"automatic_topic","type":"str","value":""}],"color":"#DDAA99","outputLabels":["Weiterleitung von Eingang","Temperatur Sensor 1","Temperatur Sensor 2","Temperatur Sensor 3","Temperatur Sensor 4"]},{"id":"e1eeeb50.82bb78","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor1}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":540,"wires":[["30b45c0b.21834c"]]},{"id":"2cfa16e9.ff93a2","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor2}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":580,"wires":[["30b45c0b.21834c"]]},{"id":"839a826c.6a1c9","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor3}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":620,"wires":[["30b45c0b.21834c"]]},{"id":"e7fcee95.e592a8","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor4}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":660,"wires":[["30b45c0b.21834c"]]},{"id":"30b45c0b.21834c","type":"function","z":"2abd751f.509ec2","name":"Store Temperatures Globally","func":"\ntemp_map = global.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nglobal.set('temperatures', {});","finalize":"","x":600,"y":480,"wires":[["ca36556e.ca3298"]]},{"id":"6bba0199.496aa","type":"change","z":"2abd751f.509ec2","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["6a83910a.97ed58"]]},{"id":"dfe8d7aa.f96168","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${automatic_topic}","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":290,"y":360,"wires":[["6bba0199.496aa"]]},{"id":"6a83910a.97ed58","type":"function","z":"2abd751f.509ec2","name":"SetEnabledContext","func":"flow.set('is_enabled', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('is_enabled', true);","finalize":"","x":760,"y":360,"wires":[["a0da2ac.9c20dd8"]]},{"id":"a0da2ac.9c20dd8","type":"function","z":"2abd751f.509ec2","name":"Build Message","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload.temperatures = flow.get('temperatures');\nmsg.payload.is_loading = flow.get('is_loading') || false; // default false\nmsg.payload.is_enabled = flow.get('is_enabled'); // enabled by default\nmsg.topic = env.get(\"load_topic\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":440,"wires":[[]]},{"id":"ca36556e.ca3298","type":"function","z":"2abd751f.509ec2","name":"Store Temperatures Locally","func":"\ntemp_map = flow.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('temperatures', {});","finalize":"","x":880,"y":480,"wires":[["a0da2ac.9c20dd8"]]},{"id":"3a510198.16496e","type":"change","z":"2abd751f.509ec2","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["37b3d97e.19d8b6"]]},{"id":"3da98469.528c2c","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${load_topic}","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":310,"y":300,"wires":[["3a510198.16496e"]]},{"id":"37b3d97e.19d8b6","type":"function","z":"2abd751f.509ec2","name":"SetLoadingContext","func":"flow.set('is_loading', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[[]]},{"id":"b57fb94c.9b8988","type":"tab","label":"Heizungssteuerung","disabled":false,"info":""},{"id":"2a476917.bb71de","type":"group","z":"b57fb94c.9b8988","name":"Allgemein","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["be5c71dd.2374f","689b2e22.0dbab","e804ef83.857228","6fea053f.5b563c","c78d8efa.fab13","c6b91987.7b6118","d36a1012.3d4e58","1247c6df.9ab199","4950ec27.23af4c"],"x":394,"y":1931.5,"w":1012,"h":357},{"id":"6dda4cf5.098e8c","type":"group","z":"b57fb94c.9b8988","name":"Heizkreis und Mischer","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["4a1351bd.769e88","84702e63.4b8ff8","5badc1a0.0b7508","8c75a7af.c1283","e57b3f74.2b55c","c6a905ef.04755","fb9d0ebe.b82c9","9dcf4bb8.a5c938","1b04e39.b949d9c","7e4417e1.688f7","5d087073.23a1a","eee574cd.9e0168","b97a2cbb.61c64","705d2ce8.c70f8c","595bf487.c0f7d4","654c3ff8.2755","4b4eff53.e2cc5","e253139f.32c058","3404fbb0.1b60fc","224ad929.6ff38e","d2f7e83a.67a998","86134fc5.ebc688","a9ee8054.a5f52","fc952fdc.db8098","2f1510a3.679598","62e68dd7.921764","54b870b9.2a3a48"],"x":164,"y":1239,"w":1232,"h":522},{"id":"afd37b21.b2467","type":"group","z":"b57fb94c.9b8988","name":"Messung","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["8e96b703.ed372","cbed44c0.1c3cd","bc686379.fd1cd","f47880a.4ea198","186c5d52.308beb","1437094b.b5bcb7","b6697deb.808468","6604a78.cccf358","655e9904.550588","2c756861.b3e79","4a0a7c25.4b4394","ede679f5.e03858","b199ed8f.2e2c4","dbb43ca2.8ecb38","e0499231.b0296","7045dc4d.215f64","ba930620.89c358","7401f969.142608","ca717c05.cf363","39ab45bc.4b0ffa","9f278c26.7bb8c8","cb4aac48.030578","3e767dd8.82c052","ce88e45c.69c37","84fa2535.8194a8","832ac547.ee88","6a1a65b2.e49814","eb64df23.1fb06","ab8addc8.9da8e","4f13540b.0991f4","e5b659dd.2234c8","dc1a57d5.362cf8"],"x":274,"y":59,"w":1312,"h":642},{"id":"8e96b703.ed372","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":440,"wires":[["b199ed8f.2e2c4"]]},{"id":"cbed44c0.1c3cd","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":500,"wires":[["dbb43ca2.8ecb38"]]},{"id":"bc686379.fd1cd","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":560,"wires":[["e0499231.b0296"]]},{"id":"f47880a.4ea198","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":620,"wires":[["7045dc4d.215f64"]]},{"id":"186c5d52.308beb","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/brauchwasser/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":160,"wires":[["655e9904.550588"]]},{"id":"1437094b.b5bcb7","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/brauchwasser/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":220,"wires":[["2c756861.b3e79"]]},{"id":"b6697deb.808468","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/brauchwasser/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":280,"wires":[["4a0a7c25.4b4394"]]},{"id":"6604a78.cccf358","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/brauchwasser/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":410,"y":340,"wires":[["ede679f5.e03858"]]},{"id":"655e9904.550588","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"63dfa255.33424c","order":1,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":160,"wires":[]},{"id":"2c756861.b3e79","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"63dfa255.33424c","order":2,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":220,"wires":[]},{"id":"4a0a7c25.4b4394","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"63dfa255.33424c","order":3,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":280,"wires":[]},{"id":"ede679f5.e03858","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"63dfa255.33424c","order":4,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":340,"wires":[]},{"id":"b199ed8f.2e2c4","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"77dbbe3a.99fa3","order":1,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"dbb43ca2.8ecb38","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"77dbbe3a.99fa3","order":2,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":500,"wires":[]},{"id":"e0499231.b0296","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"77dbbe3a.99fa3","order":3,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":560,"wires":[]},{"id":"7045dc4d.215f64","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"77dbbe3a.99fa3","order":4,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":620,"wires":[]},{"id":"ba930620.89c358","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/vorlauf_ist","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1020,"y":600,"wires":[["4f13540b.0991f4","e5b659dd.2234c8","dc1a57d5.362cf8"]]},{"id":"7401f969.142608","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/aussentemperatur","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1010,"y":380,"wires":[["ca717c05.cf363","e5b659dd.2234c8","dc1a57d5.362cf8"]]},{"id":"ca717c05.cf363","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":1,"width":0,"height":0,"label":"Aussentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Temperaturdaten vorhanden","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1390,"y":380,"wires":[[]]},{"id":"4a1351bd.769e88","type":"ui_switch","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","label":"Heizbetrieb","tooltip":"Schaltet die Heizungspumpe an oder aus","group":"28bde750.d2c1f8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":1280,"wires":[["5badc1a0.0b7508"]]},{"id":"84702e63.4b8ff8","type":"mqtt in","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"pumpe/heizkreis/ein","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":350,"y":1340,"wires":[["e57b3f74.2b55c"]]},{"id":"5badc1a0.0b7508","type":"mqtt out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"pumpe/heizkreis/ein","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1140,"y":1280,"wires":[]},{"id":"56f8ad0.a762854","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"name":"","topic":"puffer/heizkreis/load","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":330,"y":940,"wires":[["ccd48d5b.b01d18"]]},{"id":"dad45050.d57b78","type":"ui_switch","z":"b57fb94c.9b8988","d":true,"name":"","label":"Laden","tooltip":"","group":"77dbbe3a.99fa3","order":10,"width":"4","height":"4","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":940,"wires":[["2e8a9cb6.a2cbec"]]},{"id":"2e8a9cb6.a2cbec","type":"mqtt out","z":"b57fb94c.9b8988","d":true,"name":"","topic":"heizkreis/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":920,"y":940,"wires":[]},{"id":"ccd48d5b.b01d18","type":"change","z":"b57fb94c.9b8988","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":940,"wires":[["dad45050.d57b78","8ce31f73.897d08"]]},{"id":"39ab45bc.4b0ffa","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","topic":"sensors/heizraum/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1050,"y":100,"wires":[["ce88e45c.69c37"]]},{"id":"9f278c26.7bb8c8","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","topic":"sensors/heizraum/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1050,"y":160,"wires":[["84fa2535.8194a8"]]},{"id":"cb4aac48.030578","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","topic":"sensors/heizraum/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1050,"y":220,"wires":[["832ac547.ee88"]]},{"id":"3e767dd8.82c052","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","topic":"sensors/heizraum/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1050,"y":280,"wires":[["6a1a65b2.e49814"]]},{"id":"ce88e45c.69c37","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"16acd5a3.070ef2","order":1,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":100,"wires":[]},{"id":"84fa2535.8194a8","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"16acd5a3.070ef2","order":2,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":160,"wires":[]},{"id":"832ac547.ee88","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"16acd5a3.070ef2","order":3,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":220,"wires":[]},{"id":"6a1a65b2.e49814","type":"ui_gauge","z":"b57fb94c.9b8988","d":true,"g":"afd37b21.b2467","name":"","group":"16acd5a3.070ef2","order":4,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":280,"wires":[]},{"id":"8c75a7af.c1283","type":"rpi-gpio out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Pumpe Heizkreis","pin":"3","set":false,"level":"0","freq":"","out":"out","x":1130,"y":1340,"wires":[]},{"id":"37d507d6.bb369","type":"rpi-gpio out","z":"b57fb94c.9b8988","name":"Pumpe Brauchwasser","pin":"15","set":false,"level":"0","freq":"","out":"out","x":980,"y":840,"wires":[]},{"id":"c45bfffb.5b7","type":"mqtt in","z":"b57fb94c.9b8988","d":true,"name":"","topic":"puffer/brauchwasser/load","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":310,"y":800,"wires":[["71980f25.c16d78"]]},{"id":"77965284.874d8c","type":"ui_switch","z":"b57fb94c.9b8988","d":true,"name":"","label":"Laden","tooltip":"","group":"63dfa255.33424c","order":11,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":780,"wires":[["a6c91629.8d1608"]]},{"id":"a6c91629.8d1608","type":"mqtt out","z":"b57fb94c.9b8988","d":true,"name":"","topic":"brauchwasser/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":930,"y":780,"wires":[]},{"id":"71980f25.c16d78","type":"change","z":"b57fb94c.9b8988","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":780,"wires":[["77965284.874d8c","bff8134e.05c05"]]},{"id":"d35bb7af.d11bb","type":"pi-gpiod out","z":"b57fb94c.9b8988","name":"Pumpe Fernwaermeleitung","host":"192.168.1.10","port":8888,"pin":"17","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":960,"y":1000,"wires":[]},{"id":"e57b3f74.2b55c","type":"change","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1340,"wires":[["4a1351bd.769e88","c6a905ef.04755"]]},{"id":"eb64df23.1fb06","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"mischer/heizkreis/vorlauf_soll","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1020,"y":500,"wires":[["ab8addc8.9da8e","e5b659dd.2234c8","dc1a57d5.362cf8"]]},{"id":"ab8addc8.9da8e","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":2,"width":0,"height":0,"label":"Vorlauftemperatur Soll","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1400,"y":520,"wires":[[]]},{"id":"4f13540b.0991f4","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":3,"width":0,"height":0,"label":"Vorlauftemperatur Ist","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1400,"y":600,"wires":[[]]},{"id":"be5c71dd.2374f","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"sudo systemctl restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":1980,"wires":[[],["e804ef83.857228"],[]]},{"id":"689b2e22.0dbab","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":5,"width":0,"height":0,"passthru":false,"label":"Alle Module Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-sensors.service thermoberry-buffers.service thermoberry-mixer.service thermoberry-heating-circuit.service","payloadType":"str","topic":"","x":520,"y":1980,"wires":[["be5c71dd.2374f"]]},{"id":"e804ef83.857228","type":"ui_toast","z":"b57fb94c.9b8988","g":"2a476917.bb71de","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1290,"y":2120,"wires":[]},{"id":"6fea053f.5b563c","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":6,"width":0,"height":0,"passthru":false,"label":"Hardware Reset","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":500,"y":2160,"wires":[["c78d8efa.fab13"]]},{"id":"c78d8efa.fab13","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":2160,"wires":[[],["e804ef83.857228"],[]]},{"id":"c6a905ef.04755","type":"function","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1340,"wires":[["8c75a7af.c1283"]]},{"id":"8ce31f73.897d08","type":"function","z":"b57fb94c.9b8988","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1000,"wires":[["d35bb7af.d11bb"]]},{"id":"bff8134e.05c05","type":"function","z":"b57fb94c.9b8988","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":840,"wires":[["37d507d6.bb369"]]},{"id":"fb9d0ebe.b82c9","type":"ui_switch","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","label":"Automatik","tooltip":"Aktiviert die automatische Regelung des Mischers","group":"526921e2.2519f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1660,"wires":[["eee574cd.9e0168"]]},{"id":"9dcf4bb8.a5c938","type":"ui_switch","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","label":"Heiss","tooltip":"Stellt Manuell auf Heiss","group":"526921e2.2519f","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1070,"y":1460,"wires":[["3404fbb0.1b60fc"]]},{"id":"1b04e39.b949d9c","type":"ui_switch","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","label":"Kalt","tooltip":"Stellt manuell auf kalt","group":"526921e2.2519f","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1080,"y":1520,"wires":[["e253139f.32c058"]]},{"id":"7e4417e1.688f7","type":"function","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"MutualExclusive","func":"\nmsg1 = {\"payload\": false};\nmsg2 = {\"payload\": false};\nmsg3 = {\"payload\": false};\n\n\nif (msg.topic == \"Mischer/Automatik\")\n    msg1.payload = msg.payload;\nif (msg.topic == \"heizkreis/mischer/heiss\")\n    msg2.payload = msg.payload;\nif (msg.topic == \"heizkreis/mischer/kalt\")\n    msg3.payload = msg.payload;\n\n/*\n// This forces one state to be true\nif (msg.topic == \"Mischer/Automatik\")\n    msg1.payload = true;\nif (msg.topic == \"Mischer/Heiss\")\n    msg2.payload = true;\nif (msg.topic == \"Mischer/Kalt\")\n    msg3.payload = true;\n*/\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":750,"y":1480,"wires":[[],["9dcf4bb8.a5c938","54b870b9.2a3a48"],["1b04e39.b949d9c","62e68dd7.921764"]]},{"id":"5d087073.23a1a","type":"rpi-gpio out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Mischer Waermer","pin":"11","set":false,"level":"0","freq":"","out":"out","x":1120,"y":1400,"wires":[]},{"id":"eee574cd.9e0168","type":"mqtt out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1030,"y":1660,"wires":[]},{"id":"b97a2cbb.61c64","type":"rpi-gpio out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Mischer Kaelter","pin":"13","set":false,"level":"0","freq":"","out":"out","x":1110,"y":1580,"wires":[]},{"id":"705d2ce8.c70f8c","type":"mqtt in","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/automatik","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":310,"y":1660,"wires":[["595bf487.c0f7d4"]]},{"id":"595bf487.c0f7d4","type":"change","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1660,"wires":[["fb9d0ebe.b82c9"]]},{"id":"654c3ff8.2755","type":"mqtt in","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/heiss","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":290,"y":1440,"wires":[["224ad929.6ff38e"]]},{"id":"4b4eff53.e2cc5","type":"mqtt in","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/kalt","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":290,"y":1500,"wires":[["d2f7e83a.67a998"]]},{"id":"e253139f.32c058","type":"mqtt out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/kalt","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1250,"y":1520,"wires":[]},{"id":"3404fbb0.1b60fc","type":"mqtt out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"mischer/heizkreis/heiss","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1260,"y":1460,"wires":[]},{"id":"224ad929.6ff38e","type":"change","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1440,"wires":[["7e4417e1.688f7"]]},{"id":"d2f7e83a.67a998","type":"change","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1500,"wires":[["7e4417e1.688f7"]]},{"id":"86134fc5.ebc688","type":"ui_switch","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","label":"Automatik","tooltip":"Schaltet die Automatik der Heizungspumpe an oder aus","group":"28bde750.d2c1f8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heizbetrieb","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1720,"wires":[["fc952fdc.db8098"]]},{"id":"a9ee8054.a5f52","type":"mqtt in","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"steuerung/heizkreis/automatik","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":310,"y":1720,"wires":[["2f1510a3.679598"]]},{"id":"fc952fdc.db8098","type":"mqtt out","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"","topic":"steuerung/heizkreis/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1040,"y":1720,"wires":[]},{"id":"2f1510a3.679598","type":"change","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1720,"wires":[["86134fc5.ebc688"]]},{"id":"62e68dd7.921764","type":"function","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1580,"wires":[["b97a2cbb.61c64"]]},{"id":"54b870b9.2a3a48","type":"function","z":"b57fb94c.9b8988","g":"6dda4cf5.098e8c","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1400,"wires":[["5d087073.23a1a"]]},{"id":"c6b91987.7b6118","type":"ui_button","z":"b57fb94c.9b8988","d":true,"g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":7,"width":0,"height":0,"passthru":false,"label":"Werkseinstellungen wiederherstellen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":2240,"wires":[["d36a1012.3d4e58"]]},{"id":"d36a1012.3d4e58","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"git --git-dir=/home/pi/thermoberry/.git checkout HEAD -- conf/config.yaml","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":2240,"wires":[[],["e804ef83.857228"],[]]},{"id":"fc5dae71.9da868","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","name":"Puffer Heizraum","env":[{"name":"Sensor1","value":"sensors/heizraum/1","type":"str"},{"name":"Sensor2","value":"sensors/heizraum/2","type":"str"},{"name":"Sensor3","value":"sensors/heizraum/3","type":"str"},{"name":"Sensor4","value":"sensors/heizraum/4","type":"str"},{"name":"load_topic","value":"puffer/heizraum/load","type":"str"},{"name":"automatic_topic","value":"puffer/heizraum/automatik","type":"str"}],"x":1420,"y":780,"wires":[[],["85cde3f6.5b6ba8"],["481c7fa4.d2fb"],["a1b0e83f.b91dd8"],["9c26027c.3ff2a"]]},{"id":"9c26027c.3ff2a","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"16acd5a3.070ef2","order":8,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1820,"y":760,"wires":[]},{"id":"a1b0e83f.b91dd8","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"16acd5a3.070ef2","order":7,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1820,"y":720,"wires":[]},{"id":"481c7fa4.d2fb","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"16acd5a3.070ef2","order":6,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1820,"y":680,"wires":[]},{"id":"85cde3f6.5b6ba8","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"16acd5a3.070ef2","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1820,"y":640,"wires":[]},{"id":"62f4abcb.cb7eb4","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","name":"Puffer Heizkreis","env":[{"name":"Sensor1","value":"sensors/heizkreis/1","type":"str"},{"name":"Sensor2","value":"sensors/heizkreis/2","type":"str"},{"name":"Sensor3","value":"sensors/heizkreis/3","type":"str"},{"name":"Sensor4","value":"sensors/heizkreis/4","type":"str"},{"name":"load_topic","value":"puffer/heizkreis/load","type":"str"},{"name":"automatic_topic","value":"puffer/heizkreis/puffer/automatik","type":"str"}],"x":1620,"y":1020,"wires":[["98c44b0c.c4497","29ef11c3.4e8436"],["918cf2fc.c3d6e8"],["f07f90cb.094f88"],["ada2d521.616248"],["73192d9f.1555fc"]]},{"id":"7333f22f.38277c","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","name":"Puffer Brauchwasser","env":[{"name":"Sensor1","value":"sensors/brauchwasser/1","type":"str"},{"name":"Sensor2","value":"sensors/brauchwasser/2","type":"str"},{"name":"Sensor3","value":"sensors/brauchwasser/3","type":"str"},{"name":"Sensor4","value":"sensors/brauchwasser/4","type":"str"},{"name":"load_topic","value":"puffer/brauchwasser/load","type":"str"},{"name":"automatic_topic","value":"puffer/brauchwasser/automatik","type":"str"}],"x":1620,"y":1400,"wires":[["e14479d2.6de1e","78a2d7e8.0f07a"],["4951933d.382c5c"],["b199fe9b.8a686"],["ec904ad.4157738"],["28f22549.795ce2"]]},{"id":"4951933d.382c5c","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"63dfa255.33424c","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"30","seg2":"","x":1920,"y":1380,"wires":[]},{"id":"b199fe9b.8a686","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"63dfa255.33424c","order":6,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"30","seg2":"","x":1920,"y":1420,"wires":[]},{"id":"ec904ad.4157738","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"63dfa255.33424c","order":7,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#4233ff","#b4d257","#ff2b2b"],"seg1":"30","seg2":"","x":1920,"y":1460,"wires":[]},{"id":"28f22549.795ce2","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"63dfa255.33424c","order":8,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0066ff","#aeee44","#ff3333"],"seg1":"","seg2":"","x":1920,"y":1500,"wires":[]},{"id":"73192d9f.1555fc","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"77dbbe3a.99fa3","order":8,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"45","seg2":"","x":1880,"y":1100,"wires":[]},{"id":"ada2d521.616248","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"77dbbe3a.99fa3","order":7,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1880,"y":1060,"wires":[]},{"id":"f07f90cb.094f88","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"77dbbe3a.99fa3","order":6,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1880,"y":1020,"wires":[]},{"id":"918cf2fc.c3d6e8","type":"ui_gauge","z":"b57fb94c.9b8988","name":"","group":"77dbbe3a.99fa3","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":1880,"y":980,"wires":[]},{"id":"18af501f.e303b8","type":"ui_switch","z":"b57fb94c.9b8988","name":"","label":"Laden","tooltip":"","group":"77dbbe3a.99fa3","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2250,"y":860,"wires":[["23610037.99f31","76d67d91.334f34"]]},{"id":"e14479d2.6de1e","type":"function","z":"b57fb94c.9b8988","name":"Loading Decision","func":"global_temperatures = global.get('temperatures');\ntemperatures = msg.payload.temperatures;\n\n\n// Load parameters from message\n// TODO\n\n// Rule 0: automatic or manual mode\nis_enabled = msg.payload.is_enabled;\n\n// Rule 1: temperature too high -> stop loading\nis_hot = temperatures['sensors/brauchwasser/3'] > 45;\n\n// Rule 2: temperature too low -> start loading\nis_cold = temperatures['sensors/brauchwasser/1'] < 60;\n\n// Rule 3: check if we have some sufficient supplier\nloss = 2;\ncan_load = Object.values(temperatures).every(t => t <global_temperatures['sensors/heizkreis/1'] - loss );\nload_end = temperatures['sensors/heizkreis/1'] < 60;\n\n// Rule 4: Force loading if supplier is overheading\noverheat_protection = global_temperatures['sensors/heizkreis/4'] > 71;\n    \nif (!is_enabled) {\n    // manual mode -> do nothing automatically\n    new_loading_state = msg.payload.is_loading;\n}\n\nelse if (overheat_protection) {\n    // protect the supplier by taking the hot water\n    new_loading_state = true;\n}\n\nelse if (is_hot) {\n    // stop because buffer is full\n    new_loading_state = false;\n}\n\nelse if (load_end) {\n    // disable as soon as we cannot load anymore\n    new_loading_state = false;\n}\n\nelse if (is_cold && can_load) {\n    // start loading as soon as we are getting too cold\n    new_loading_state = true;\n}\n\n\nelse {\n    new_loading_state = msg.payload.is_loading;\n}\n\n\nresult = {};\nresult.payload = new_loading_state;\nresult.topic = msg.topic;\n\n\nif (result.payload != msg.payload.is_loading) {\n    //loading state changed\n    reason = {}\n    reason.payload = \"\";\n    reason.payload += \"is_hot: \" + is_hot;\n    reason.payload += \" | is_cold: \" + is_cold;\n    reason.payload += \" | can_load: \" + can_load;\n    reason.payload += \" | overheat_protection: \" + overheat_protection;\n} else {\n    reason = undefined;\n}\n\n\nreturn [result, reason];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1910,"y":1320,"wires":[["3fce63de.621544"],["1e6f416b.7e109f"]]},{"id":"3fce63de.621544","type":"ui_switch","z":"b57fb94c.9b8988","name":"","label":"Laden","tooltip":"","group":"63dfa255.33424c","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2110,"y":1300,"wires":[["730b4e9e.7409e","2a28a4b2.b67184"]]},{"id":"730b4e9e.7409e","type":"mqtt out","z":"b57fb94c.9b8988","name":"","topic":"puffer/brauchwasser/load","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":2330,"y":1300,"wires":[]},{"id":"23610037.99f31","type":"mqtt out","z":"b57fb94c.9b8988","name":"","topic":"puffer/heizkreis/load","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":2460,"y":860,"wires":[]},{"id":"1e6f416b.7e109f","type":"switch","z":"b57fb94c.9b8988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":2220,"y":1040,"wires":[["1d9fc8f9.eaa59f"]]},{"id":"1d9fc8f9.eaa59f","type":"ui_toast","z":"b57fb94c.9b8988","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Reason for Switch","x":2430,"y":1040,"wires":[]},{"id":"2875deb8.a50ca2","type":"pi-gpiod out","z":"b57fb94c.9b8988","name":"Pumpe Fernwaermeleitung","host":"192.168.1.10","port":8888,"pin":"17","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":2620,"y":920,"wires":[]},{"id":"76d67d91.334f34","type":"function","z":"b57fb94c.9b8988","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2410,"y":920,"wires":[["2875deb8.a50ca2"]]},{"id":"2a28a4b2.b67184","type":"function","z":"b57fb94c.9b8988","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2270,"y":1360,"wires":[["7c42a6a2.4be75"]]},{"id":"7c42a6a2.4be75","type":"rpi-gpio out","z":"b57fb94c.9b8988","name":"Pumpe Brauchwasser","pin":"15","set":false,"level":"0","freq":"","out":"out","x":2500,"y":1360,"wires":[]},{"id":"e5b659dd.2234c8","type":"function","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"Store Temperatures Globally","func":"\ntemp_map = global.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nglobal.set('temperatures', {});","finalize":"","x":1380,"y":440,"wires":[[]]},{"id":"53cd8d5e.9545fc","type":"ui_switch","z":"b57fb94c.9b8988","name":"","label":"Automatik","tooltip":"","group":"63dfa255.33424c","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2250,"y":1220,"wires":[["d5016e0a.3bfee8"]]},{"id":"d5016e0a.3bfee8","type":"mqtt out","z":"b57fb94c.9b8988","name":"","topic":"puffer/brauchwasser/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":2510,"y":1220,"wires":[]},{"id":"773affca.f0931","type":"ui_switch","z":"b57fb94c.9b8988","name":"","label":"Automatik","tooltip":"","group":"77dbbe3a.99fa3","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2370,"y":800,"wires":[["ac17dd0e.a562"]]},{"id":"ac17dd0e.a562","type":"mqtt out","z":"b57fb94c.9b8988","name":"","topic":"puffer/heizkreis/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":2620,"y":800,"wires":[]},{"id":"98c44b0c.c4497","type":"change","z":"b57fb94c.9b8988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.is_enabled)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":800,"wires":[["773affca.f0931"]]},{"id":"78a2d7e8.0f07a","type":"change","z":"b57fb94c.9b8988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.is_enabled)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":1220,"wires":[["53cd8d5e.9545fc"]]},{"id":"6b25bb48.442e6c","type":"ui_template","z":"b57fb94c.9b8988","group":"8a48955d.4ec298","name":"Clock Toolbar","order":8,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1680,"y":600,"wires":[[]]},{"id":"489bc1e5.58124","type":"ui_button","z":"b57fb94c.9b8988","name":"","group":"8a48955d.4ec298","order":3,"width":0,"height":0,"passthru":false,"label":"Sensormodul Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-sensors.service","payloadType":"str","topic":"","x":520,"y":2020,"wires":[["be5c71dd.2374f"]]},{"id":"4950ec27.23af4c","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":4,"width":0,"height":0,"passthru":false,"label":"Mischermodul Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-mixer.service","payloadType":"str","topic":"","x":530,"y":2100,"wires":[["be5c71dd.2374f"]]},{"id":"1247c6df.9ab199","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":2,"width":0,"height":0,"passthru":false,"label":"Heizkreismodul Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-heating-circuit.service","payloadType":"str","topic":"","x":530,"y":2060,"wires":[["be5c71dd.2374f"]]},{"id":"97c67cdd.3e41e8","type":"ui_chart","z":"b57fb94c.9b8988","name":"Puffer Keller Inaktiv","group":"8ac8701e.7362d","order":3,"width":"15","height":"5","label":"Heizpuffer Fühler 1,2,3 und vorlauf","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"80","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff4848","#808080","#ffff00","#80ff00","#00ffff","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1890,"y":1160,"wires":[[]]},{"id":"1adccbef.d9becc","type":"ui_chart","z":"b57fb94c.9b8988","name":"Heizraum oben Inaktiv","group":"8ac8701e.7362d","order":1,"width":"15","height":"4","label":"Hauptpuffer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"80","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#ffff00","#80ff00","#00ffff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1840,"y":820,"wires":[[]]},{"id":"dc1a57d5.362cf8","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"8ac8701e.7362d","order":4,"width":"15","height":"5","label":"Vorlauftemperaturen Langzeit","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff00","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1430,"y":660,"wires":[[]]},{"id":"29ef11c3.4e8436","type":"function","z":"b57fb94c.9b8988","name":"Load Decision","func":"global_temperatures = global.get('temperatures');\ntemperatures = msg.payload.temperatures;\n\n\n// Load parameters from message\n// TODO\n\n\n// Rule 0: automatic or manual mode\nis_enabled = msg.payload.is_enabled;\n\n// Rule 1: temperature too high -> stop loading\nis_hot = Object.values(temperatures).every(t => t >global_temperatures['sensors/heizkreis/vorlauf_ist'] - 2 );\n\n// Rule 2: temperature too low -> start loading\nis_cold = Object.values(temperatures).every(t => t - 4 <global_temperatures['heizkreis/vorlauf_soll'] );\n\n// Rule 3: check if we have some sufficient supplier\nloss = 2;\nstop_load = 8;\ncan_load = Object.values(temperatures).some(t => t <global_temperatures['sensors/heizraum/1'] - loss );\nload_end = Object.values(temperatures).some(t => t - stop_load >global_temperatures['sensors/heizraum/1'] );\n\n// Rule 4: Force loading if supplier is overheading\noverheat_protection = global_temperatures['sensors/heizraum/4'] > 74;\n    \n\nif (!is_enabled) {\n    // manual mode -> do nothing automatically\n    new_loading_state = msg.payload.is_loading;\n}\n\nelse if (overheat_protection) {\n    // protect the supplier by taking the hot water\n    new_loading_state = true;\n}\n\nelse if (is_hot) {\n    // stop because buffer is full\n    new_loading_state = false;\n}\n\nelse if (load_end) {\n    // disable as soon as we cannot load anymore\n    new_loading_state = false;\n}\n\nelse if (is_cold && can_load) {\n    // start loading as soon as we are getting too cold\n    new_loading_state = true;\n}\n\n\nelse {\n    new_loading_state = msg.payload.is_loading;\n}\n\nresult = {};\nresult.payload = new_loading_state;\nresult.topic = msg.topic;\n\n\nif (result.payload != msg.payload.is_loading) {\n    //loading state changed\n    reason = {}\n    reason.payload = \"\";\n    reason.payload += \" is_hot: \" + is_hot;\n    reason.payload += \" | is_cold: \" + is_cold;\n    reason.payload += \" | can_load: \" + can_load;\n    reason.payload += \" | load_end: \" + load_end;\n    reason.payload += \" | overheat_protection: \" + overheat_protection;\n} \nelse {\n    reason = undefined;\n}\n\n\nreturn [ result, reason, msg ];\n//(killed) return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2070,"y":880,"wires":[["18af501f.e303b8"],["1e6f416b.7e109f"]]},{"id":"bcebf477.ab97e8","type":"mqtt-broker","name":"MQTT on raspi","broker":"raspi2021-1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63dfa255.33424c","type":"ui_group","name":"Puffer Brauchwasser","tab":"4b772f87.12ab1","order":3,"disp":true,"width":"4","collapse":true},{"id":"77dbbe3a.99fa3","type":"ui_group","name":"Puffer Heizkreis","tab":"4b772f87.12ab1","order":2,"disp":true,"width":"4","collapse":true},{"id":"526921e2.2519f","type":"ui_group","name":"Mischer","tab":"4b772f87.12ab1","order":4,"disp":true,"width":"6","collapse":true},{"id":"28bde750.d2c1f8","type":"ui_group","name":"Heizungspumpe","tab":"4b772f87.12ab1","order":5,"disp":true,"width":"4","collapse":true},{"id":"16acd5a3.070ef2","type":"ui_group","name":"Puffer Heizraum","tab":"4b772f87.12ab1","order":1,"disp":true,"width":"4","collapse":true},{"id":"8a48955d.4ec298","type":"ui_group","name":"Allgemein","tab":"4b772f87.12ab1","order":8,"disp":true,"width":"4","collapse":true},{"id":"8ac8701e.7362d","type":"ui_group","name":"Verlaufsübersicht","tab":"a4d65fc0.4b0f28","order":8,"disp":true,"width":"15","collapse":false},{"id":"4b772f87.12ab1","type":"ui_tab","name":"Heizung","icon":"dashboard","disabled":false,"hidden":false},{"id":"a4d65fc0.4b0f28","type":"ui_tab","name":"Verlauf","icon":"dashboard","disabled":false,"hidden":false}]