node-red-flow.json
[{"id":"b826e1aa.108a98","type":"tab","label":"Heizungssteuerung","disabled":false,"info":""},{"id":"6342e945.5022b8","type":"subflow","name":"Sensors","info":"","category":"","in":[],"out":[{"x":840,"y":520,"wires":[{"id":"3c7a79bc.64f946","port":0}]},{"x":1080,"y":180,"wires":[{"id":"2051a8ff.7b0c1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"69773ece.1ae77","type":"subflow","name":"Puffer","info":"","category":"","in":[{"x":460,"y":440,"wires":[{"id":"973ae40b.bde488"}]}],"out":[{"x":1320,"y":440,"wires":[{"id":"973ae40b.bde488","port":0}]},{"x":1300,"y":540,"wires":[{"id":"43d6ab08.95dc34","port":0}]},{"x":1300,"y":580,"wires":[{"id":"5344298f.d683a8","port":0}]},{"x":1300,"y":620,"wires":[{"id":"d64d15f4.c663a8","port":0}]},{"x":1300,"y":660,"wires":[{"id":"8c0f2ddd.145798","port":0}]}],"env":[{"name":"Sensor1","type":"str","value":""},{"name":"Sensor2","type":"str","value":""},{"name":"Sensor3","type":"str","value":""},{"name":"Sensor4","type":"str","value":""},{"name":"load_topic","type":"str","value":""}],"color":"#DDAA99","outputLabels":["Weiterleitung von Eingang","Temperatur Sensor 1","Temperatur Sensor 2","Temperatur Sensor 3","Temperatur Sensor 4","Wird Geladen?"]},{"id":"16bb0ab1.61965d","type":"group","z":"b826e1aa.108a98","name":"Messung","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["3457b60a.24a152","e27e710a.5f339","e90b6c6b.be9b1","b28bee33.545d8","8ebe5ad8.d567e8","c644e46d.f7591","c1dc7d86.237018","4434f590.0ca1b4","399fd3a1.d29ffc","bc6e2879.e0ae6","3478f9e3.05909e","b4ce2f53.ecffc","8fd4b8c6.1e0c48","337c593e.703ad6","45ed119.33c017","3d566545.b7208a","c2379cae.f5eff","69027075.4ff14","fe5b5289.01a568","9116c331.31e95","648e0aa8.b52804","7b59637c.a841e4","e965dabe.b47cb8","af271ac2.db809","22fec0d2.da4908","d3c7180e.7235c8","3a7a0655.0e252a","eaf3c0b1.5236f8","3741a02b.0098f8","159d2fa6.898f68"],"x":244,"y":59,"w":1262,"h":622},{"id":"8dab6caf.f21748","type":"group","z":"b826e1aa.108a98","name":"Pumpen","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["d0b02169.98969","f49110e3.bbbec","5b4853cf.45bc6c","639eea23.ad6744","22e20e4a.194722","ebf3fb1.8005788","8898fb06.bae2d8","4b9060d1.4b5878","f10d1e38.beae48","90d9c7a1.1351c8","8478771a.249d","22c4c5d1.1d5862","4e6ac565.1159fc","20a1dfc0.0967c","5b825502.b10b14","b8450ac7.91278","da959135.dca1f","9e9f33da.e0a0d"],"x":234,"y":739,"w":872,"h":462},{"id":"131ceb17.dfa535","type":"group","z":"b826e1aa.108a98","name":"Mischer und Heizkreis","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["5644c753.c54b6","219dde6a.123d0a","6164b0c7.126158","d0bac1ca.7641c8","3e7135e4.9ed932","8c846e81.a8788","3dfce0c6.c57018","214dde7a.96ef32","5f8ed1db.f7a448","817f3010.c938","34459cc3.babd04","cb873a48.3f774","b6bf0985.40e268","d4d99d7d.b9d39","6a118b2b.d68284","4ccbaaa5.eba69c","11d40d0c.965deb","9366cfcd.fd392","51e50bb.417be74","cb1a0259.ef0b5","e20c4c24.a0f68"],"x":184,"y":1439,"w":1242,"h":402},{"id":"9cbe0a7.90a5af8","type":"group","z":"b826e1aa.108a98","name":"Allgemein","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["a08576aa.6c2c5","c82b0a45.31ee6","8a926a5e.e2a8d","b5c8d90f.4514","c8d97e5d.40158","85617288.ad80a8","66be01c7.7863f8"],"x":394,"y":2011.5,"w":1012,"h":277},{"id":"4b772f87.12ab1","type":"ui_tab","name":"Heizung","icon":"dashboard","disabled":false,"hidden":false},{"id":"578f88c6.d37518","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ec7000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ec7000","edited":true},"page-titlebar-backgroundColor":{"value":"#ec7000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff9739","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ec7000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"orange","accents":"orange","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Ottn IoT Zentrale","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63dfa255.33424c","type":"ui_group","name":"Puffer Brauchwasser","tab":"4b772f87.12ab1","order":1,"disp":true,"width":"4","collapse":true},{"id":"77dbbe3a.99fa3","type":"ui_group","name":"Puffer Heizkreis","tab":"4b772f87.12ab1","order":2,"disp":true,"width":"4","collapse":true},{"id":"bcebf477.ab97e8","type":"mqtt-broker","name":"MQTT on raspi2","broker":"192.168.1.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"526921e2.2519f","type":"ui_group","name":"Mischer","tab":"4b772f87.12ab1","order":3,"disp":true,"width":"6","collapse":true},{"id":"c9342e09.3691d","type":"ui_group","name":"Umgebung","tab":"4b772f87.12ab1","order":4,"disp":true,"width":"6","collapse":true},{"id":"16acd5a3.070ef2","type":"ui_group","name":"Puffer Heizraum","tab":"4b772f87.12ab1","order":5,"disp":true,"width":"4","collapse":true},{"id":"a562987.7dc6f68","type":"ui_group","name":"Parameter","tab":"4b772f87.12ab1","order":6,"disp":true,"width":"6","collapse":true},{"id":"2ac8e3fa.8b8584","type":"ui_group","name":"Default","tab":"ebb1ed1c.5ebe2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ebb1ed1c.5ebe2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"28bde750.d2c1f8","type":"ui_group","name":"Heizkreis","tab":"4b772f87.12ab1","order":7,"disp":true,"width":"4","collapse":true},{"id":"8a48955d.4ec298","type":"ui_group","name":"Allgemein","tab":"4b772f87.12ab1","order":8,"disp":true,"width":"6","collapse":true},{"id":"3457b60a.24a152","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/heizkreis/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":460,"wires":[["8fd4b8c6.1e0c48"]]},{"id":"e27e710a.5f339","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/heizkreis/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":520,"wires":[["337c593e.703ad6"]]},{"id":"e90b6c6b.be9b1","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/heizkreis/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":580,"wires":[["45ed119.33c017"]]},{"id":"b28bee33.545d8","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/heizkreis/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":640,"wires":[["3d566545.b7208a"]]},{"id":"8ebe5ad8.d567e8","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/brauchwasser/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":180,"wires":[["399fd3a1.d29ffc"]]},{"id":"c644e46d.f7591","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/brauchwasser/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":240,"wires":[["bc6e2879.e0ae6"]]},{"id":"c1dc7d86.237018","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/brauchwasser/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":300,"wires":[["3478f9e3.05909e"]]},{"id":"4434f590.0ca1b4","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/brauchwasser/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":360,"wires":[["b4ce2f53.ecffc"]]},{"id":"399fd3a1.d29ffc","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":180,"wires":[]},{"id":"bc6e2879.e0ae6","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":240,"wires":[]},{"id":"3478f9e3.05909e","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":300,"wires":[]},{"id":"b4ce2f53.ecffc","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":360,"wires":[]},{"id":"8fd4b8c6.1e0c48","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"77dbbe3a.99fa3","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":460,"wires":[]},{"id":"337c593e.703ad6","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"77dbbe3a.99fa3","order":2,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":520,"wires":[]},{"id":"45ed119.33c017","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"77dbbe3a.99fa3","order":3,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":580,"wires":[]},{"id":"3d566545.b7208a","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"77dbbe3a.99fa3","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":640,"wires":[]},{"id":"c2379cae.f5eff","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/heizkreis/vorlauf_ist","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1040,"y":620,"wires":[["159d2fa6.898f68"]]},{"id":"69027075.4ff14","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"sensors/aussentemperatur","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":390,"y":100,"wires":[["fe5b5289.01a568"]]},{"id":"fe5b5289.01a568","type":"ui_chart","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","group":"c9342e09.3691d","order":4,"width":0,"height":0,"label":"Aussentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Temperaturdaten vorhanden","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"d0b02169.98969","type":"ui_switch","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"","label":"Heizbetrieb","tooltip":"Schaltet die Heizungspumpe an oder aus","group":"28bde750.d2c1f8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heizbetrieb","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":1100,"wires":[["5b4853cf.45bc6c"]]},{"id":"f49110e3.bbbec","type":"mqtt in","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"","topic":"heizkreis/pumpe","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":340,"y":1100,"wires":[["5b825502.b10b14"]]},{"id":"5b4853cf.45bc6c","type":"mqtt out","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"","topic":"heizkreis/pumpe","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":960,"y":1100,"wires":[]},{"id":"639eea23.ad6744","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","topic":"heizkreis/load","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":330,"y":940,"wires":[["8898fb06.bae2d8"]]},{"id":"22e20e4a.194722","type":"ui_switch","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","label":"Laden","tooltip":"","group":"77dbbe3a.99fa3","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":940,"wires":[["ebf3fb1.8005788"]]},{"id":"ebf3fb1.8005788","type":"mqtt out","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","topic":"heizkreis/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":920,"y":940,"wires":[]},{"id":"8898fb06.bae2d8","type":"change","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":940,"wires":[["22e20e4a.194722","da959135.dca1f"]]},{"id":"9116c331.31e95","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","topic":"sensors/heizraum/1","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1030,"y":120,"wires":[["af271ac2.db809"]]},{"id":"648e0aa8.b52804","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","topic":"sensors/heizraum/2","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1030,"y":180,"wires":[["22fec0d2.da4908"]]},{"id":"7b59637c.a841e4","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","topic":"sensors/heizraum/3","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1030,"y":240,"wires":[["d3c7180e.7235c8"]]},{"id":"e965dabe.b47cb8","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","topic":"sensors/heizraum/4","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1030,"y":300,"wires":[["3a7a0655.0e252a"]]},{"id":"af271ac2.db809","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"16acd5a3.070ef2","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":120,"wires":[]},{"id":"22fec0d2.da4908","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"16acd5a3.070ef2","order":2,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":180,"wires":[]},{"id":"d3c7180e.7235c8","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"16acd5a3.070ef2","order":3,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":240,"wires":[]},{"id":"3a7a0655.0e252a","type":"ui_gauge","z":"b826e1aa.108a98","d":true,"g":"16bb0ab1.61965d","name":"","group":"16acd5a3.070ef2","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":300,"wires":[]},{"id":"4b9060d1.4b5878","type":"rpi-gpio out","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Pumpe Heizkreis","pin":"12","set":false,"level":"0","freq":"","out":"out","x":930,"y":1160,"wires":[]},{"id":"f10d1e38.beae48","type":"rpi-gpio out","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Pumpe Brauchwasser","pin":"40","set":false,"level":"0","freq":"","out":"out","x":980,"y":840,"wires":[]},{"id":"90d9c7a1.1351c8","type":"mqtt in","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","topic":"brauchwasser/load","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":350,"y":780,"wires":[["4e6ac565.1159fc"]]},{"id":"8478771a.249d","type":"ui_switch","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","label":"Laden","tooltip":"","group":"63dfa255.33424c","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":780,"wires":[["22c4c5d1.1d5862"]]},{"id":"22c4c5d1.1d5862","type":"mqtt out","z":"b826e1aa.108a98","d":true,"g":"8dab6caf.f21748","name":"","topic":"brauchwasser/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":930,"y":780,"wires":[]},{"id":"4e6ac565.1159fc","type":"change","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":780,"wires":[["8478771a.249d","9e9f33da.e0a0d"]]},{"id":"20a1dfc0.0967c","type":"pi-gpiod out","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Pumpe Fernwaermeleitung","host":"192.168.1.10","port":8888,"pin":"17","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":960,"y":1000,"wires":[]},{"id":"5b825502.b10b14","type":"change","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1100,"wires":[["d0b02169.98969","b8450ac7.91278"]]},{"id":"eaf3c0b1.5236f8","type":"mqtt in","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","topic":"heizkreis/vorlauf_soll","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":1140,"y":520,"wires":[["3741a02b.0098f8"]]},{"id":"3741a02b.0098f8","type":"ui_chart","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","group":"526921e2.2519f","order":5,"width":0,"height":0,"label":"Vorlauftemperatur Soll","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1380,"y":520,"wires":[[]]},{"id":"159d2fa6.898f68","type":"ui_chart","z":"b826e1aa.108a98","g":"16bb0ab1.61965d","name":"","group":"526921e2.2519f","order":5,"width":0,"height":0,"label":"Vorlauftemperatur Ist","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1380,"y":620,"wires":[[]]},{"id":"a08576aa.6c2c5","type":"exec","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","command":"sudo systemctl restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":2060,"wires":[[],["8a926a5e.e2a8d"],[]]},{"id":"c82b0a45.31ee6","type":"ui_button","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","name":"","group":"8a48955d.4ec298","order":5,"width":0,"height":0,"passthru":false,"label":"Software Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-sensors.service thermoberry-buffers.service thermoberry-mixer.service thermoberry-heating-circuit.service","payloadType":"str","topic":"","x":510,"y":2060,"wires":[["a08576aa.6c2c5"]]},{"id":"8a926a5e.e2a8d","type":"ui_toast","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1290,"y":2120,"wires":[]},{"id":"b5c8d90f.4514","type":"ui_button","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","name":"","group":"8a48955d.4ec298","order":5,"width":0,"height":0,"passthru":false,"label":"Hardware Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":2160,"wires":[["c8d97e5d.40158"]]},{"id":"c8d97e5d.40158","type":"exec","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":2160,"wires":[[],["8a926a5e.e2a8d"],[]]},{"id":"b8450ac7.91278","type":"function","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1160,"wires":[["4b9060d1.4b5878"]]},{"id":"da959135.dca1f","type":"function","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1000,"wires":[["20a1dfc0.0967c"]]},{"id":"9e9f33da.e0a0d","type":"function","z":"b826e1aa.108a98","g":"8dab6caf.f21748","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":840,"wires":[["f10d1e38.beae48"]]},{"id":"5644c753.c54b6","type":"ui_switch","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","label":"Automatik","tooltip":"Aktiviert die automatische Regelung des Mischers","group":"526921e2.2519f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800,"y":1740,"wires":[["8c846e81.a8788"]]},{"id":"219dde6a.123d0a","type":"ui_switch","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","label":"Heiss","tooltip":"Stellt Manuell auf Heiss","group":"526921e2.2519f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Mischer/Heiss","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1110,"y":1540,"wires":[["b6bf0985.40e268"]]},{"id":"6164b0c7.126158","type":"ui_switch","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","label":"Kalt","tooltip":"Stellt manuell auf kalt","group":"526921e2.2519f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"Mischer/Kalt","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1110,"y":1600,"wires":[["cb873a48.3f774"]]},{"id":"d0bac1ca.7641c8","type":"function","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"MutualExclusive","func":"\nmsg1 = {\"payload\": false};\nmsg2 = {\"payload\": false};\nmsg3 = {\"payload\": false};\n\n\nif (msg.topic == \"Mischer/Automatik\")\n    msg1.payload = msg.payload;\nif (msg.topic == \"heizkreis/mischer/heiss\")\n    msg2.payload = msg.payload;\nif (msg.topic == \"heizkreis/mischer/kalt\")\n    msg3.payload = msg.payload;\n\n/*\n// This forces one state to be true\nif (msg.topic == \"Mischer/Automatik\")\n    msg1.payload = true;\nif (msg.topic == \"Mischer/Heiss\")\n    msg2.payload = true;\nif (msg.topic == \"Mischer/Kalt\")\n    msg3.payload = true;\n*/\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":780,"y":1560,"wires":[[],["219dde6a.123d0a","e20c4c24.a0f68"],["6164b0c7.126158","cb1a0259.ef0b5"]]},{"id":"3e7135e4.9ed932","type":"rpi-gpio out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"Mischer Waermer","pin":"18","set":false,"level":"0","freq":"","out":"out","x":1150,"y":1480,"wires":[]},{"id":"8c846e81.a8788","type":"mqtt out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1060,"y":1740,"wires":[]},{"id":"3dfce0c6.c57018","type":"rpi-gpio out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"Mischer Kaelter","pin":"22","set":false,"level":"0","freq":"","out":"out","x":1140,"y":1660,"wires":[]},{"id":"214dde7a.96ef32","type":"mqtt in","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/automatik","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":340,"y":1740,"wires":[["5f8ed1db.f7a448"]]},{"id":"5f8ed1db.f7a448","type":"change","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1740,"wires":[["5644c753.c54b6"]]},{"id":"817f3010.c938","type":"mqtt in","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/heiss","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":1520,"wires":[["d4d99d7d.b9d39"]]},{"id":"34459cc3.babd04","type":"mqtt in","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/kalt","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":1580,"wires":[["6a118b2b.d68284"]]},{"id":"cb873a48.3f774","type":"mqtt out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/kalt","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1280,"y":1600,"wires":[]},{"id":"b6bf0985.40e268","type":"mqtt out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/mischer/heiss","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1290,"y":1540,"wires":[]},{"id":"d4d99d7d.b9d39","type":"change","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1520,"wires":[["d0bac1ca.7641c8"]]},{"id":"6a118b2b.d68284","type":"change","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1580,"wires":[["d0bac1ca.7641c8"]]},{"id":"4ccbaaa5.eba69c","type":"ui_switch","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","label":"Automatik","tooltip":"Schaltet die Automatik der Heizungspumpe an oder aus","group":"28bde750.d2c1f8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heizbetrieb","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800,"y":1800,"wires":[["9366cfcd.fd392"]]},{"id":"11d40d0c.965deb","type":"mqtt in","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/steuerung/automatik","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":340,"y":1800,"wires":[["51e50bb.417be74"]]},{"id":"9366cfcd.fd392","type":"mqtt out","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"","topic":"heizkreis/steuerung/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1070,"y":1800,"wires":[]},{"id":"51e50bb.417be74","type":"change","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1800,"wires":[["4ccbaaa5.eba69c"]]},{"id":"cb1a0259.ef0b5","type":"function","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1660,"wires":[["3dfce0c6.c57018"]]},{"id":"e20c4c24.a0f68","type":"function","z":"b826e1aa.108a98","g":"131ceb17.dfa535","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1480,"wires":[["3e7135e4.9ed932"]]},{"id":"85617288.ad80a8","type":"ui_button","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","name":"","group":"8a48955d.4ec298","order":5,"width":0,"height":0,"passthru":false,"label":"Konfiguration zuzürcksetzen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":2240,"wires":[["66be01c7.7863f8"]]},{"id":"66be01c7.7863f8","type":"exec","z":"b826e1aa.108a98","g":"9cbe0a7.90a5af8","command":"git --git-dir=/home/pi/thermoberry/.git checkout HEAD -- conf/config.yaml","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":2240,"wires":[[],["8a926a5e.e2a8d"],[]]},{"id":"3fc18827.ea2eb8","type":"rpi-ds18b20","z":"6342e945.5022b8","topic":"","array":true,"name":"","x":370,"y":160,"wires":[["62ab3979.9f94b8","5ea53c4d.2fe074","3c7a79bc.64f946"]]},{"id":"b801e008.796bb","type":"inject","z":"6342e945.5022b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["3fc18827.ea2eb8"]]},{"id":"62ab3979.9f94b8","type":"delay","z":"6342e945.5022b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[["3fc18827.ea2eb8"]]},{"id":"5ea53c4d.2fe074","type":"split","z":"6342e945.5022b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":700,"y":180,"wires":[["2051a8ff.7b0c1"]]},{"id":"4ab54400.2df684","type":"mqtt out","z":"6342e945.5022b8","name":"","topic":"","qos":"","retain":"","broker":"bcebf477.ab97e8","x":1110,"y":260,"wires":[]},{"id":"2051a8ff.7b0c1","type":"function","z":"6342e945.5022b8","name":"Distill Temperature","func":"msg_out = {'topic': msg.payload.file, 'payload': msg.payload}\n\n\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":180,"wires":[["4ab54400.2df684"]]},{"id":"3b4de692.9dd81a","type":"function","z":"6342e945.5022b8","name":"Storage","func":"sensors_dict = flow.get('sensors');\n\n// Replace all the defined mappings\n//for (let sensor in msg.payload) {\n    sensors_dict[msg.payload.file] = msg.payload.id\n//}\n\nmsg = {'payload': sensors_dict}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n// Access the node's context object\n//var nodeContext = this.context;\n//var flowContext = this.context.flow;\n//var globalContext = this.context.global;\n\n\nflow.set('sensors', {});","finalize":"","x":1120,"y":420,"wires":[[]]},{"id":"3da74dd8.c93bca","type":"ui_template","z":"6342e945.5022b8","group":"8a48955d.4ec298","name":"","order":4,"width":0,"height":0,"format":"\n\n<form>\n    <fieldset style=\"width:85%\">\n    <legend>choose chartdata</legend>\n        <div ng-repeat=\"sensor in msg.payload\">\n            <label>{{sensor.file}}\n                <input  type=\"text\" style=\"float:right; position: relative; top: 5px;\"\n                        ng-model=\"sensor.id\"\n                        ng-change=\"send({'payload': sensor})\"\n                        >\n            </label>\n        </div>\n    </fieldset>\n</form>\n\n<script>\n    \n    // Source: https://it.knightnet.org.uk/kb/nr-qa/dashboard-template-examples/#a-couple-of-ways-to-send-a-msg-back-to-node-red\n    \n    // Replace all the defined mappings\n    scope.on_change_2 = function(msg) {\n        sensors_dict = this.flow.get('sensors');\n        sensors_dict[msg.payload.file] = msg.payload.id\n        this.send(msg);\n    }.bind(scope);\n    \n    \n    ;(function (scope) {\n        \n        scope.on_change = function (msg) {\n            sensors_dict = scope.flow.get('sensors');\n            sensors_dict[msg.payload.file] = msg.payload.id\n            scope.send(msg);\n        }\n    })(scope)\n    \n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":860,"y":420,"wires":[["3b4de692.9dd81a","9e444069.20175"]]},{"id":"3c7a79bc.64f946","type":"function","z":"6342e945.5022b8","name":"Id2NameMapping","func":"sensors_dict = flow.get('sensors');\n\n// Replace all the defined mappings\nresult = {};\nresult.topic = msg.topic;\nresult.payload = [];\n\nfor (var sensor of msg.payload) {\n    if (sensor.file in sensors_dict) {\n        sensor.id = sensors_dict[sensor.file];\n    }\n    result.payload.push(sensor);\n}\n\nreturn result;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n// Access the node's context object\n//var nodeContext = this.context;\n//var flowContext = this.context.flow;\n//var globalContext = this.context.global;\n\nflow.set('sensors', {'test-sensor': 'FUCK YOUR ASS'})","finalize":"","x":650,"y":420,"wires":[["3da74dd8.c93bca"]]},{"id":"9e444069.20175","type":"debug","z":"6342e945.5022b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":480,"wires":[]},{"id":"55eda3ac.c02dbc","type":"subflow:69773ece.1ae77","z":"b826e1aa.108a98","name":"Puffer Heizraum","env":[{"name":"Sensor1","value":"sensors/heizraum/1","type":"str"},{"name":"Sensor2","value":"sensors/heizraum/2","type":"str"},{"name":"Sensor3","value":"sensors/heizraum/3","type":"str"},{"name":"Sensor4","value":"sensors/heizraum/4","type":"str"},{"name":"load_topic","value":"heizraum/load","type":"str"}],"x":1420,"y":780,"wires":[[],["c4b0ae20.516ef8"],["51fd85d0.7a8374"],["60420b98.945db4"],["64d178d9.f8ce88"]]},{"id":"43d6ab08.95dc34","type":"mqtt in","z":"69773ece.1ae77","name":"","topic":"${Sensor1}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":540,"wires":[["6be15e6a.a83738"]]},{"id":"5344298f.d683a8","type":"mqtt in","z":"69773ece.1ae77","name":"","topic":"${Sensor2}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":580,"wires":[["6be15e6a.a83738"]]},{"id":"d64d15f4.c663a8","type":"mqtt in","z":"69773ece.1ae77","name":"","topic":"${Sensor3}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":620,"wires":[["6be15e6a.a83738"]]},{"id":"8c0f2ddd.145798","type":"mqtt in","z":"69773ece.1ae77","name":"","topic":"${Sensor4}","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":320,"y":660,"wires":[["6be15e6a.a83738"]]},{"id":"6be15e6a.a83738","type":"function","z":"69773ece.1ae77","name":"Store Temperatures Globally","func":"\ntemp_map = global.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nglobal.set('temperatures', {});","finalize":"","x":600,"y":480,"wires":[["727b48d2.94e9b"]]},{"id":"64d178d9.f8ce88","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"16acd5a3.070ef2","order":8,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":780,"wires":[]},{"id":"60420b98.945db4","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"16acd5a3.070ef2","order":7,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":740,"wires":[]},{"id":"51fd85d0.7a8374","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"16acd5a3.070ef2","order":6,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":700,"wires":[]},{"id":"c4b0ae20.516ef8","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"16acd5a3.070ef2","order":5,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":660,"wires":[]},{"id":"34052e89.ecb0aa","type":"change","z":"69773ece.1ae77","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["edeace50.280bb8"]]},{"id":"a67b7b3.cff6008","type":"mqtt in","z":"69773ece.1ae77","name":"","topic":"${load_topic}","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":310,"y":360,"wires":[["34052e89.ecb0aa"]]},{"id":"edeace50.280bb8","type":"function","z":"69773ece.1ae77","name":"SetLoadingContext","func":"flow.set('is_loading', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":360,"wires":[[]]},{"id":"d92f5c93.1c5f98","type":"subflow:69773ece.1ae77","z":"b826e1aa.108a98","name":"Puffer Heizkreis","env":[{"name":"Sensor1","value":"sensors/heizkreis/1","type":"str"},{"name":"Sensor2","value":"sensors/heizkreis/2","type":"str"},{"name":"Sensor3","value":"sensors/heizkreis/3","type":"str"},{"name":"Sensor4","value":"sensors/heizkreis/4","type":"str"},{"name":"load_topic","value":"heizkreis/load","type":"str"}],"x":1420,"y":1040,"wires":[["1566cd4c.120cbb"],["84b7dce5.e90e9"],["9a3139ac.7f42f8"],["ff3e03a9.dcdda"],["7ea4e7cf.111748"]]},{"id":"e7786c44.a9b5e","type":"subflow:69773ece.1ae77","z":"b826e1aa.108a98","name":"Puffer Brauchwasser","env":[{"name":"Sensor1","value":"sensors/brauchwasser/1","type":"str"},{"name":"Sensor2","value":"sensors/brauchwasser/2","type":"str"},{"name":"Sensor3","value":"sensors/brauchwasser/3","type":"str"},{"name":"Sensor4","value":"sensors/brauchwasser/4","type":"str"},{"name":"load_topic","value":"brauchwasser/load","type":"str"}],"x":1520,"y":1320,"wires":[["bd4ae5f7.8f919"],["626b7b28.e456ec"],["43d85e0a.ce4668"],["543370cd.a80b88"],["13f36f74.1df149"]]},{"id":"626b7b28.e456ec","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":1280,"wires":[]},{"id":"43d85e0a.ce4668","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":1320,"wires":[]},{"id":"543370cd.a80b88","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":1360,"wires":[]},{"id":"13f36f74.1df149","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"63dfa255.33424c","order":4,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1820,"y":1400,"wires":[]},{"id":"7ea4e7cf.111748","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"77dbbe3a.99fa3","order":9,"width":"4","height":"3","gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":1120,"wires":[]},{"id":"ff3e03a9.dcdda","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"77dbbe3a.99fa3","order":8,"width":"4","height":"3","gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":1080,"wires":[]},{"id":"9a3139ac.7f42f8","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"77dbbe3a.99fa3","order":7,"width":"4","height":"3","gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":1040,"wires":[]},{"id":"84b7dce5.e90e9","type":"ui_gauge","z":"b826e1aa.108a98","name":"","group":"77dbbe3a.99fa3","order":6,"width":"4","height":"3","gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":1000,"wires":[]},{"id":"9413c7ef.ec194","type":"ui_switch","z":"b826e1aa.108a98","name":"","label":"Laden","tooltip":"","group":"77dbbe3a.99fa3","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":880,"wires":[["884d43ac.2fb26","d7bc5edf.a4105"]]},{"id":"973ae40b.bde488","type":"function","z":"69773ece.1ae77","name":"Build Message","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload.temperatures = flow.get('temperatures');\nmsg.payload.is_loading = flow.get('is_loading') || false; // default false\nmsg.topic = env.get(\"load_topic\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":440,"wires":[[]]},{"id":"1566cd4c.120cbb","type":"function","z":"b826e1aa.108a98","name":"Loading Decision","func":"global_temperatures = global.get('temperatures');\ntemperatures = msg.payload.temperatures;\n\n\n// Load parameters from message\n// TODO\n\n// Rule 1: temperature too high -> stop loading\nis_hot = Object.values(temperatures).every(t => t > 77);\n\n// Rule 2: temperature too low -> start loading\nis_cold = Object.values(temperatures).every(t => t < 40);\n\n// Rule 3: check if we have some sufficient supplier\nloss = 6;\ncan_load = Object.values(temperatures).some(t => global_temperatures['sensors/heizraum/1'] - loss > t);\n\n// Rule 4: Force loading if supplier is overheading\noverheat_protection = global_temperatures['sensors/heizraum/4'] > 71;\n    \n\nif (overheat_protection) {\n    // protect the supplier by taking the hot water\n    new_loading_state = true;\n}\n\nelse if (is_hot) {\n    // stop because buffer is full\n    new_loading_state = false;\n}\n\nelse if (is_cold && can_load) {\n    // start loading as soon as we are getting too cold\n    new_loading_state = true;\n}\n\nelse if (!can_load)\n    // disable as soon as we cannot load anymore\n    new_loading_state = false;\n\nelse {\n    new_loading_state = msg.payload.is_loading;\n}\n\nresult = {};\nresult.payload = new_loading_state;\nresult.topic = msg.topic;\n\n\nif (result.payload != msg.payload.is_loading) {\n    //loading state changed\n    reason = {}\n    reason.payload = \"\";\n    reason.payload += \"is_hot: \" + is_hot;\n    reason.payload += \" | is_cold: \" + is_cold;\n    reason.payload += \" | can_load: \" + can_load;\n    reason.payload += \" | overheat_protection: \" + overheat_protection;\n} else {\n    reason = undefined;\n}\n\n\nreturn [result, reason];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1690,"y":960,"wires":[["9413c7ef.ec194"],["a0b9d3b1.9aeb38"]]},{"id":"bd4ae5f7.8f919","type":"function","z":"b826e1aa.108a98","name":"Loading Decision","func":"global_temperatures = global.get('temperatures');\ntemperatures = msg.payload.temperatures;\n\n\n// Load parameters from message\n// TODO\n\n// Rule 1: temperature too high -> stop loading\nis_hot = temperatures['sensors/brauchwasser/3'] > 50;\n\n// Rule 2: temperature too low -> start loading\nis_cold = temperatures['sensors/brauchwasser/1'] < 55;\n\n// Rule 3: check if we have some sufficient supplier\nloss = 2;\ncan_load = Object.values(temperatures).some(t => global_temperatures['sensors/heizkreis/1'] - loss > t);\n\n// Rule 4: Force loading if supplier is overheading\noverheat_protection = global_temperatures['sensors/heizkreis/4'] > 71;\n    \n\nif (overheat_protection) {\n    // protect the supplier by taking the hot water\n    new_loading_state = true;\n}\n\nelse if (is_hot) {\n    // stop because buffer is full\n    new_loading_state = false;\n}\n\nelse if (is_cold && can_load) {\n    // start loading as soon as we are getting too cold\n    new_loading_state = true;\n}\n\nelse if (!can_load)\n    // disable as soon as we cannot load anymore\n    new_loading_state = false;\n\nelse {\n    new_loading_state = msg.payload.is_loading;\n}\n\n\nresult = {};\nresult.payload = new_loading_state;\nresult.topic = msg.topic;\n\n\nif (result.payload != msg.payload.is_loading) {\n    //loading state changed\n    reason = {}\n    reason.payload = \"\";\n    reason.payload += \"is_hot: \" + is_hot;\n    reason.payload += \" | is_cold: \" + is_cold;\n    reason.payload += \" | can_load: \" + can_load;\n    reason.payload += \" | overheat_protection: \" + overheat_protection;\n} else {\n    reason = undefined;\n}\n\n\nreturn [result, reason];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1810,"y":1240,"wires":[["94734aa4.07a24"],["a0b9d3b1.9aeb38"]]},{"id":"94734aa4.07a24","type":"ui_switch","z":"b826e1aa.108a98","name":"","label":"Laden","tooltip":"","group":"63dfa255.33424c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2010,"y":1220,"wires":[["8f731c82.746948","6b72bd1a.e1620c"]]},{"id":"8f731c82.746948","type":"mqtt out","z":"b826e1aa.108a98","name":"","topic":"brauchwasser/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":2210,"y":1220,"wires":[]},{"id":"884d43ac.2fb26","type":"mqtt out","z":"b826e1aa.108a98","name":"","topic":"heizkreis/load","qos":"2","retain":"","broker":"bcebf477.ab97e8","x":2080,"y":880,"wires":[]},{"id":"a0b9d3b1.9aeb38","type":"switch","z":"b826e1aa.108a98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":2020,"y":1060,"wires":[["c87f78a8.e1323"]]},{"id":"c87f78a8.e1323","type":"ui_toast","z":"b826e1aa.108a98","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Reason for Switch","x":2230,"y":1060,"wires":[]},{"id":"727b48d2.94e9b","type":"function","z":"69773ece.1ae77","name":"Store Temperatures Locally","func":"\ntemp_map = flow.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('temperatures', {});","finalize":"","x":880,"y":480,"wires":[["973ae40b.bde488"]]},{"id":"c73fb23c.a7503","type":"pi-gpiod out","z":"b826e1aa.108a98","name":"Pumpe Fernwaermeleitung","host":"192.168.1.10","port":8888,"pin":"17","set":false,"level":"0","out":"out","sermin":"1000","sermax":"2000","x":2260,"y":940,"wires":[]},{"id":"d7bc5edf.a4105","type":"function","z":"b826e1aa.108a98","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":940,"wires":[["c73fb23c.a7503"]]},{"id":"6b72bd1a.e1620c","type":"function","z":"b826e1aa.108a98","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":1280,"wires":[["784645c2.3c9864"]]},{"id":"784645c2.3c9864","type":"rpi-gpio out","z":"b826e1aa.108a98","name":"Pumpe Brauchwasser","pin":"40","set":false,"level":"0","freq":"","out":"out","x":2400,"y":1280,"wires":[]}]