node-red-flow.json
[{"id":"2abd751f.509ec2","type":"subflow","name":"Puffer","info":"","category":"","in":[{"x":240,"y":400,"wires":[]}],"out":[{"x":1300,"y":400,"wires":[{"id":"2abd751f.509ec2","port":0}]},{"x":1300,"y":540,"wires":[{"id":"e1eeeb50.82bb78","port":0}]},{"x":1300,"y":580,"wires":[{"id":"2cfa16e9.ff93a2","port":0}]},{"x":1300,"y":620,"wires":[{"id":"839a826c.6a1c9","port":0}]},{"x":1300,"y":660,"wires":[{"id":"e7fcee95.e592a8","port":0}]},{"x":1300,"y":780,"wires":[{"id":"d77e05af.d56588","port":0}]},{"x":1300,"y":920,"wires":[{"id":"6a83910a.97ed58","port":0}]}],"env":[{"name":"Sensor1","type":"str","value":""},{"name":"Sensor2","type":"str","value":""},{"name":"Sensor3","type":"str","value":""},{"name":"Sensor4","type":"str","value":""},{"name":"load_topic","type":"str","value":""},{"name":"automatic_topic","type":"str","value":""},{"name":"parameters","type":"json","value":"{\"suppliers\":[{\"sensor\":null,\"loss\":6,\"overheating_sensor\":null,\"overheating_temperature\":71}],\"max_temperatures\":{},\"min_temperatures\":{}}"}],"color":"#DDAA99","outputLabels":["Weiterleitung von Eingang","Temperatur Sensor 1","Temperatur Sensor 2","Temperatur Sensor 3","Temperatur Sensor 4","Status Laden","Automatik"],"icon":"node-red/db.svg","status":{"x":1300,"y":1040,"wires":[{"id":"afd737e6.3b3978","port":0}]}},{"id":"e1eeeb50.82bb78","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor1}","qos":"1","datatype":"json","broker":"bcebf477.ab97e8","x":220,"y":540,"wires":[["ca36556e.ca3298"]]},{"id":"2cfa16e9.ff93a2","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor2}","qos":"1","datatype":"json","broker":"bcebf477.ab97e8","x":220,"y":580,"wires":[["ca36556e.ca3298"]]},{"id":"839a826c.6a1c9","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor3}","qos":"1","datatype":"json","broker":"bcebf477.ab97e8","x":220,"y":620,"wires":[["ca36556e.ca3298"]]},{"id":"e7fcee95.e592a8","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${Sensor4}","qos":"0","datatype":"json","broker":"bcebf477.ab97e8","x":220,"y":660,"wires":[["ca36556e.ca3298"]]},{"id":"6bba0199.496aa","type":"change","z":"2abd751f.509ec2","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":920,"wires":[["6a83910a.97ed58"]]},{"id":"dfe8d7aa.f96168","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${automatic_topic}","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":250,"y":920,"wires":[["6bba0199.496aa"]]},{"id":"6a83910a.97ed58","type":"function","z":"2abd751f.509ec2","name":"SetEnabledContext","func":"flow.set('is_enabled', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('is_enabled', true);","finalize":"","x":830,"y":920,"wires":[[]]},{"id":"ca36556e.ca3298","type":"function","z":"2abd751f.509ec2","name":"Store Temperatures Locally","func":"\ntemp_map = flow.get('temperatures');\n\nif (typeof msg.topic !== 'undefined'){\n    temp_map[msg.topic] = msg.payload;\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('temperatures', {});","finalize":"","x":820,"y":480,"wires":[[]]},{"id":"3a510198.16496e","type":"change","z":"2abd751f.509ec2","name":"String2Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1100,"wires":[["37b3d97e.19d8b6","aa642531.b1ace8"]]},{"id":"3da98469.528c2c","type":"mqtt in","z":"2abd751f.509ec2","name":"","topic":"${load_topic}","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":250,"y":1100,"wires":[["3a510198.16496e"]]},{"id":"37b3d97e.19d8b6","type":"function","z":"2abd751f.509ec2","name":"SetLoadingContext","func":"flow.set('is_loading', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('is_loading', false);\n","finalize":"","x":810,"y":1100,"wires":[["afd737e6.3b3978"]]},{"id":"e433543f.bdf908","type":"inject","z":"2abd751f.509ec2","name":"","props":[{"p":"payload"},{"p":"topic","v":"load_topic","vt":"env"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":780,"wires":[["20b984e5.013abc"]]},{"id":"d77e05af.d56588","type":"function","z":"2abd751f.509ec2","name":"calculate loading status","func":"// parameters\n\n// initialize \nlocals = {}\nlocals.logs = []\n\nlocals.is_hot = 0\nlocals.is_cold = 0\nlocals.can_load = 0\nlocals.supplier_overheating = 0\nlocals.new_loading_state = 0\n\n// read msg\nis_loading = msg.args.is_loading\nis_enabled = msg.args.is_enabled\nold_state = msg.args.old_state\ntemperatures = msg.args.temperatures\nglobal_temperatures = msg.args.global_temperatures\nmax_temperatures = msg.parameters.max_temperatures\nmin_temperatures = msg.parameters.min_temperatures\nsuppliers = msg.parameters.suppliers\n\n\n// precalculations\nlocals.lowest_temp = Math.min(...Object.values(temperatures));\n\n\n// Rule 1: temperature too high -> stop loading\nfor (var sensor_topic in max_temperatures){\n    locals.is_hot |= temperatures[sensor_topic] > max_temperatures[sensor_topic]\n}\n\n// Rule 2: temperature too low -> start loading\nfor (var sensor_topic in min_temperatures){\n    locals.is_cold |= temperatures[sensor_topic] < min_temperatures[sensor_topic]\n}\n\n// Rule 3: check if we have some sufficient supplier\nfor (var idx in suppliers){\n    supplier = suppliers[idx]\n    locals.supplier_temp = global_temperatures[supplier.sensor]\n    locals.can_load |= (locals.supplier_temp > locals.lowest_temp + supplier.loss)\n}\n\n\n// Rule 4: Force loading if supplier is overheading\nfor (var idx in suppliers){\n    supplier = suppliers[idx]\n    locals.overheat_temp = global_temperatures[supplier.overheating_sensor]\n    locals.supplier_overheating |= (locals.overheat_temp > supplier.overheating_temperature)\n}\n\n\n// Apply rules\nif (!is_enabled) {\n    // manual mode -> do nothing automatically\n    locals.new_loading_state = is_loading;\n}\nelse if (locals.supplier_overheating) {\n    // protect the supplier by taking the hot water\n    locals.new_loading_state = true;\n}\nelse if (locals.is_hot) {\n    // stop because buffer is full\n    locals.new_loading_state = false;\n}\nelse if (locals.is_cold && locals.can_load) {\n    // start loading as soon as we are getting too cold\n    locals.new_loading_state = true;\n}\nelse if (!locals.can_load) {\n    // disable as soon as we cannot load anymore\n    locals.new_loading_state = false;\n}\nelse {\n    locals.new_loading_state = is_loading\n}\n\n// Logging\nlocals.new_state = {\n    \"is_loading\": locals.new_loading_state,\n    \"is_hot\": locals.is_hot, \n    \"is_cold\": locals.is_cold, \n    \"can_load\": locals.can_load, \n    \"supplier_overheating\": locals.supplier_overheating\n}\n\nif (old_state != locals.new_state) {\n    flow.set('state', locals.new_state);\n\n    if (is_loading != locals.new_loading_state) {\n        locals.logs.push(locals.new_loading_state ? \"Start loading\" : \"Stop loading\");\n    }\n    else {\n        locals.logs.push(locals.new_loading_state ? \"Remain loading\" : \"Remain idle\");\n    }\n    \n}\n\n// initialize msg\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": locals.new_loading_state\n}\n\nreturn [msg, locals]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":780,"wires":[["afd737e6.3b3978"],["4a26e5ba.b8558c"]],"outputLabels":["result",""]},{"id":"20b984e5.013abc","type":"change","z":"2abd751f.509ec2","name":"set msg args","rules":[{"t":"set","p":"args.temperatures","pt":"msg","to":"temperatures","tot":"flow"},{"t":"set","p":"args.global_temperatures","pt":"msg","to":"temperatures","tot":"global"},{"t":"set","p":"parameters","pt":"msg","to":"$env('parameters')","tot":"jsonata"},{"t":"set","p":"args.is_loading","pt":"msg","to":"is_loading","tot":"flow"},{"t":"set","p":"args.is_enabled","pt":"msg","to":"is_enabled","tot":"flow"},{"t":"set","p":"args.old_state","pt":"msg","to":"state","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["d77e05af.d56588","ab4c8fff.7ae9e"]]},{"id":"aa642531.b1ace8","type":"debug","z":"2abd751f.509ec2","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"4a26e5ba.b8558c","type":"debug","z":"2abd751f.509ec2","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":820,"wires":[]},{"id":"ab4c8fff.7ae9e","type":"debug","z":"2abd751f.509ec2","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":820,"wires":[]},{"id":"afd737e6.3b3978","type":"function","z":"2abd751f.509ec2","name":"Build status","func":"msg.payload = {\n    \"text\": \"Charging: \" + msg.payload,\n    \"fill\": msg.payload ? \"green\" : \"red\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1040,"wires":[[]]},{"id":"b57fb94c.9b8988","type":"tab","label":"Puffermanagement","disabled":false,"info":""},{"id":"2a476917.bb71de","type":"group","z":"b57fb94c.9b8988","name":"System Commands","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["e804ef83.857228","6fea053f.5b563c","c78d8efa.fab13","c6b91987.7b6118","d36a1012.3d4e58","527ed735.b1fa3","1838a68a.903409","b49303ed.663b6"],"x":274,"y":2091.5,"w":1012,"h":297},{"id":"475c5d0.283a7a4","type":"group","z":"b57fb94c.9b8988","name":"Puffer Heizkreis","style":{"label":true},"nodes":["62f4abcb.cb7eb4","73192d9f.1555fc","ada2d521.616248","f07f90cb.094f88","918cf2fc.c3d6e8","18af501f.e303b8","23610037.99f31","773affca.f0931","ac17dd0e.a562","97c67cdd.3e41e8","d4f59feb.ca93f8","d596693e.546cb"],"x":334,"y":1059,"w":1012,"h":442},{"id":"74e5e5af.fe329c","type":"group","z":"b57fb94c.9b8988","name":"Puffer Brauchwasser","style":{"label":true},"nodes":["7333f22f.38277c","4951933d.382c5c","b199fe9b.8a686","ec904ad.4157738","28f22549.795ce2","3fce63de.621544","730b4e9e.7409e","2a28a4b2.b67184","7c42a6a2.4be75","53cd8d5e.9545fc","d5016e0a.3bfee8"],"x":314,"y":1579,"w":1092,"h":382},{"id":"afd37b21.b2467","type":"group","z":"b57fb94c.9b8988","name":"Dashboard","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["ba930620.89c358","7401f969.142608","ca717c05.cf363","eb64df23.1fb06","ab8addc8.9da8e","4f13540b.0991f4","dc1a57d5.362cf8","a55b7d43.24d8a","f0d0a5b.e1b35d8","6b25bb48.442e6c","583d6991.0a6f58","b500eef.e6d291","d1c58609.7b8f7","7cfa85d4.ff250c","9671ee92.23d548","3ed0ba8b.abd60e"],"x":334,"y":39,"w":952,"h":662},{"id":"f0d0a5b.e1b35d8","type":"function","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":80,"wires":[[]]},{"id":"c31ff30a.e566d","type":"group","z":"b57fb94c.9b8988","name":"Puffer Heizraum","style":{"label":true},"nodes":["fc5dae71.9da868","1adccbef.d9becc","5d21b7e0.5c4dd","500666fd.fcadf8","1dae14b5.0a116b","4f1dff7a.cd798","9b2a40eb.4118a8"],"x":334,"y":759,"w":792,"h":242},{"id":"ba930620.89c358","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/heizkreis/vorlauf_ist","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":480,"y":460,"wires":[["4f13540b.0991f4","a55b7d43.24d8a"]]},{"id":"7401f969.142608","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"sensors/aussentemperatur","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":470,"y":240,"wires":[["ca717c05.cf363","a55b7d43.24d8a"]]},{"id":"ca717c05.cf363","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":1,"width":0,"height":0,"label":"Aussentemperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Temperaturdaten vorhanden","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":240,"wires":[[]]},{"id":"eb64df23.1fb06","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"mischer/heizkreis/vorlauf_soll","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":480,"y":360,"wires":[["ab8addc8.9da8e","a55b7d43.24d8a"]]},{"id":"ab8addc8.9da8e","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":2,"width":0,"height":0,"label":"Vorlauftemperatur Soll","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"20","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":360,"wires":[[]]},{"id":"4f13540b.0991f4","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"526921e2.2519f","order":3,"width":0,"height":0,"label":"Vorlauftemperatur Ist","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Keine Daten","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":840,"y":460,"wires":[[]]},{"id":"e804ef83.857228","type":"ui_toast","z":"b57fb94c.9b8988","g":"2a476917.bb71de","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"on error","x":1180,"y":2140,"wires":[]},{"id":"6fea053f.5b563c","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":6,"width":0,"height":0,"passthru":false,"label":"Reboot Raspberry","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":390,"y":2140,"wires":[["c78d8efa.fab13"]]},{"id":"c78d8efa.fab13","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":2140,"wires":[[],["e804ef83.857228"],[]]},{"id":"c6b91987.7b6118","type":"ui_button","z":"b57fb94c.9b8988","d":true,"g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":7,"width":0,"height":0,"passthru":false,"label":"Werkseinstellungen wiederherstellen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":2260,"wires":[["d36a1012.3d4e58"]]},{"id":"d36a1012.3d4e58","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"git --git-dir=/home/pi/Thermoberry/.git checkout HEAD -- conf/config.yaml","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":2260,"wires":[[],["e804ef83.857228"],[]]},{"id":"fc5dae71.9da868","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"Puffer Heizraum","env":[{"name":"Sensor1","value":"sensors/heizraum/1","type":"str"},{"name":"Sensor2","value":"sensors/heizraum/2","type":"str"},{"name":"Sensor3","value":"sensors/heizraum/3","type":"str"},{"name":"Sensor4","value":"sensors/heizraum/4","type":"str"},{"name":"load_topic","value":"puffer/heizraum/load","type":"str"},{"name":"automatic_topic","value":"puffer/heizraum/automatik","type":"str"},{"name":"parameters","value":"{\"suppliers\":[],\"max_temperatures\":{},\"min_temperatures\":{}}","type":"json"}],"x":440,"y":880,"wires":[[],["5d21b7e0.5c4dd","9b2a40eb.4118a8"],["5d21b7e0.5c4dd","500666fd.fcadf8"],["5d21b7e0.5c4dd","1dae14b5.0a116b"],["5d21b7e0.5c4dd","4f1dff7a.cd798"],[],[]]},{"id":"62f4abcb.cb7eb4","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"Puffer Heizkreis","env":[{"name":"Sensor1","value":"sensors/heizkreis/1","type":"str"},{"name":"Sensor2","value":"sensors/heizkreis/2","type":"str"},{"name":"Sensor3","value":"sensors/heizkreis/3","type":"str"},{"name":"Sensor4","value":"sensors/heizkreis/4","type":"str"},{"name":"load_topic","value":"puffer/heizkreis/load","type":"str"},{"name":"automatic_topic","value":"puffer/heizkreis/automatik","type":"str"},{"name":"parameters","value":"{\"suppliers\":[{\"sensor\":\"sensors/heizraum/1\",\"loss\":6,\"overheating_sensor\":\"sensors/heizraum/4\",\"overheating_temperature\":71}],\"max_temperatures\":{\"sensors/heizkreis/4\":77},\"min_temperatures\":{\"sensors/heizkreis/1\":40}}","type":"json"}],"x":460,"y":1400,"wires":[[],["918cf2fc.c3d6e8","d596693e.546cb"],["f07f90cb.094f88","d596693e.546cb"],["ada2d521.616248","d596693e.546cb"],["73192d9f.1555fc","d596693e.546cb"],["18af501f.e303b8"],["773affca.f0931"]]},{"id":"7333f22f.38277c","type":"subflow:2abd751f.509ec2","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"Puffer Brauchwasser","env":[{"name":"Sensor1","value":"sensors/brauchwasser/1","type":"str"},{"name":"Sensor2","value":"sensors/brauchwasser/2","type":"str"},{"name":"Sensor3","value":"sensors/brauchwasser/3","type":"str"},{"name":"Sensor4","value":"sensors/brauchwasser/4","type":"str"},{"name":"load_topic","value":"puffer/brauchwasser/load","type":"str"},{"name":"automatic_topic","value":"puffer/brauchwasser/automatik","type":"str"},{"name":"parameters","value":"{\"suppliers\":[{\"sensor\":\"sensors/heizkreis/1\",\"loss\":2,\"overheating_sensor\":\"sensors/heizkreis/4\",\"overheating_temperature\":71}],\"max_temperatures\":{\"sensors/brauchwasser/3\":50},\"min_temperatures\":{\"sensors/brauchwasser/1\":55}}","type":"json"}],"x":440,"y":1840,"wires":[[],["4951933d.382c5c"],["b199fe9b.8a686"],["ec904ad.4157738"],["28f22549.795ce2"],["3fce63de.621544"],["53cd8d5e.9545fc"]]},{"id":"4951933d.382c5c","type":"ui_gauge","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","group":"63dfa255.33424c","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"30","seg2":"","x":810,"y":1620,"wires":[]},{"id":"b199fe9b.8a686","type":"ui_gauge","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","group":"63dfa255.33424c","order":6,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"30","seg2":"","x":810,"y":1660,"wires":[]},{"id":"ec904ad.4157738","type":"ui_gauge","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","group":"63dfa255.33424c","order":7,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#4233ff","#b4d257","#ff2b2b"],"seg1":"30","seg2":"","x":810,"y":1700,"wires":[]},{"id":"28f22549.795ce2","type":"ui_gauge","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","group":"63dfa255.33424c","order":8,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0066ff","#aeee44","#ff3333"],"seg1":"","seg2":"","x":810,"y":1740,"wires":[]},{"id":"73192d9f.1555fc","type":"ui_gauge","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","group":"77dbbe3a.99fa3","order":8,"width":4,"height":3,"gtype":"gage","title":"Temperatur 4","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"45","seg2":"","x":850,"y":1280,"wires":[]},{"id":"ada2d521.616248","type":"ui_gauge","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","group":"77dbbe3a.99fa3","order":7,"width":4,"height":3,"gtype":"gage","title":"Temperatur 3","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":850,"y":1240,"wires":[]},{"id":"f07f90cb.094f88","type":"ui_gauge","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","group":"77dbbe3a.99fa3","order":6,"width":4,"height":3,"gtype":"gage","title":"Temperatur 2","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":850,"y":1200,"wires":[]},{"id":"918cf2fc.c3d6e8","type":"ui_gauge","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","group":"77dbbe3a.99fa3","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatur 1","label":"°C","format":"{{value}}","min":"20","max":"80","colors":["#0000ff","#ffff00","#ff0000"],"seg1":"35","seg2":"","x":850,"y":1160,"wires":[]},{"id":"18af501f.e303b8","type":"ui_switch","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","label":"Laden","tooltip":"","group":"77dbbe3a.99fa3","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":850,"y":1400,"wires":[["23610037.99f31"]]},{"id":"3fce63de.621544","type":"ui_switch","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","label":"Laden","tooltip":"","group":"63dfa255.33424c","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":810,"y":1840,"wires":[["730b4e9e.7409e","2a28a4b2.b67184"]]},{"id":"730b4e9e.7409e","type":"mqtt out","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","topic":"puffer/brauchwasser/load","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1170,"y":1860,"wires":[]},{"id":"23610037.99f31","type":"mqtt out","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","topic":"puffer/heizkreis/load","qos":"","retain":"true","broker":"bcebf477.ab97e8","x":1060,"y":1400,"wires":[]},{"id":"2a28a4b2.b67184","type":"function","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"Invert","func":"msg.payload = !msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1820,"wires":[["7c42a6a2.4be75"]]},{"id":"7c42a6a2.4be75","type":"rpi-gpio out","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"Pumpe Brauchwasser","pin":"15","set":false,"level":"0","freq":"","out":"out","x":1280,"y":1820,"wires":[]},{"id":"53cd8d5e.9545fc","type":"ui_switch","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","label":"Automatik","tooltip":"","group":"63dfa255.33424c","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":1900,"wires":[["d5016e0a.3bfee8"]]},{"id":"d5016e0a.3bfee8","type":"mqtt out","z":"b57fb94c.9b8988","g":"74e5e5af.fe329c","name":"","topic":"puffer/brauchwasser/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1190,"y":1920,"wires":[]},{"id":"773affca.f0931","type":"ui_switch","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","label":"Automatik","tooltip":"","group":"77dbbe3a.99fa3","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":840,"y":1460,"wires":[["ac17dd0e.a562"]]},{"id":"ac17dd0e.a562","type":"mqtt out","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","topic":"puffer/heizkreis/automatik","qos":"2","retain":"true","broker":"bcebf477.ab97e8","x":1070,"y":1460,"wires":[]},{"id":"97c67cdd.3e41e8","type":"ui_chart","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","group":"8ac8701e.7362d","order":3,"width":"15","height":"5","label":"Langzeit Heizpuffer und Vorlauf","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"80","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff4848","#808080","#ffff00","#80ff00","#00ffff","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1100,"wires":[[]]},{"id":"1adccbef.d9becc","type":"ui_chart","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","group":"8ac8701e.7362d","order":1,"width":"15","height":"4","label":"Langzeit Hauptpuffer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"80","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#ffff00","#80ff00","#00ffff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":960,"wires":[[]]},{"id":"dc1a57d5.362cf8","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"8ac8701e.7362d","order":4,"width":"15","height":"5","label":"Vorlauftemperaturen Langzeit","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff00","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":180,"wires":[[]]},{"id":"583d6991.0a6f58","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"puffer/brauchwasser/load","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":470,"y":520,"wires":[["7cfa85d4.ff250c"]]},{"id":"9671ee92.23d548","type":"change","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"String2Number","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":600,"wires":[["3ed0ba8b.abd60e"]]},{"id":"3ed0ba8b.abd60e","type":"ui_chart","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","group":"8ac8701e.7362d","order":1,"width":"15","height":"4","label":"Langzeit Pumpen","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"2","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#ffff00","#80ff00","#00ffff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":600,"wires":[[]]},{"id":"d4f59feb.ca93f8","type":"mqtt in","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","topic":"mischer/heizkreis/vorlauf_soll","qos":"0","datatype":"auto","broker":"bcebf477.ab97e8","x":480,"y":1100,"wires":[["d596693e.546cb"]]},{"id":"d1c58609.7b8f7","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"pumpe/heizkreis/ein","qos":"2","datatype":"auto","broker":"bcebf477.ab97e8","x":450,"y":660,"wires":[["7cfa85d4.ff250c"]]},{"id":"b500eef.e6d291","type":"mqtt in","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","topic":"puffer/heizkreis/load","qos":"1","datatype":"auto","broker":"bcebf477.ab97e8","x":470,"y":580,"wires":[["7cfa85d4.ff250c"]]},{"id":"527ed735.b1fa3","type":"ui_button","z":"b57fb94c.9b8988","g":"2a476917.bb71de","name":"","group":"8a48955d.4ec298","order":4,"width":0,"height":0,"passthru":false,"label":"Software Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"thermoberry-mixer.service","payloadType":"str","topic":"","topicType":"str","x":390,"y":2340,"wires":[["1838a68a.903409"]]},{"id":"1838a68a.903409","type":"exec","z":"b57fb94c.9b8988","g":"2a476917.bb71de","command":"git --git-dir=/home/pi/Thermoberry/.git pull","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":2340,"wires":[["b49303ed.663b6"],["e804ef83.857228"],[]]},{"id":"b49303ed.663b6","type":"ui_toast","z":"b57fb94c.9b8988","g":"2a476917.bb71de","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"on success","x":1190,"y":2340,"wires":[]},{"id":"7cfa85d4.ff250c","type":"delay","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":600,"wires":[["9671ee92.23d548"]]},{"id":"d596693e.546cb","type":"delay","z":"b57fb94c.9b8988","g":"475c5d0.283a7a4","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":880,"y":1100,"wires":[["97c67cdd.3e41e8"]]},{"id":"5d21b7e0.5c4dd","type":"delay","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":960,"wires":[["1adccbef.d9becc"]]},{"id":"a55b7d43.24d8a","type":"delay","z":"b57fb94c.9b8988","g":"afd37b21.b2467","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":180,"wires":[["dc1a57d5.362cf8"]]},{"id":"500666fd.fcadf8","type":"ui_gauge","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","group":"16acd5a3.070ef2","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatur 2","label":"units","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":840,"wires":[]},{"id":"1dae14b5.0a116b","type":"ui_gauge","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","group":"16acd5a3.070ef2","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperatur 3","label":"units","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":880,"wires":[]},{"id":"4f1dff7a.cd798","type":"ui_gauge","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","group":"16acd5a3.070ef2","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperatur 4","label":"units","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":920,"wires":[]},{"id":"6b25bb48.442e6c","type":"ui_template","z":"b57fb94c.9b8988","g":"afd37b21.b2467","group":"8a48955d.4ec298","name":"Clock Toolbar","order":8,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":460,"y":140,"wires":[[]]},{"id":"9b2a40eb.4118a8","type":"ui_gauge","z":"b57fb94c.9b8988","g":"c31ff30a.e566d","name":"","group":"16acd5a3.070ef2","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatur 1","label":"units","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":800,"wires":[]},{"id":"bcebf477.ab97e8","type":"mqtt-broker","name":"MQTT on 192.168.1.38","broker":"192.168.1.38","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"100","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"526921e2.2519f","type":"ui_group","name":"Mischer","tab":"4b772f87.12ab1","order":4,"disp":true,"width":"6","collapse":true},{"id":"8a48955d.4ec298","type":"ui_group","name":"Allgemein","tab":"4b772f87.12ab1","order":8,"disp":true,"width":"4","collapse":true},{"id":"63dfa255.33424c","type":"ui_group","name":"Puffer Brauchwasser","tab":"4b772f87.12ab1","order":3,"disp":true,"width":"4","collapse":true},{"id":"77dbbe3a.99fa3","type":"ui_group","name":"Puffer Heizkreis","tab":"4b772f87.12ab1","order":2,"disp":true,"width":"4","collapse":true},{"id":"8ac8701e.7362d","type":"ui_group","name":"Verlaufsübersicht","tab":"a4d65fc0.4b0f28","order":8,"disp":true,"width":"15","collapse":false},{"id":"16acd5a3.070ef2","type":"ui_group","name":"Puffer Heizraum","tab":"4b772f87.12ab1","order":1,"disp":true,"width":"4","collapse":true},{"id":"4b772f87.12ab1","type":"ui_tab","name":"Heizung","icon":"dashboard","disabled":false,"hidden":false},{"id":"a4d65fc0.4b0f28","type":"ui_tab","name":"Verlauf","icon":"dashboard","disabled":false,"hidden":false}]